header{
    background-color: black;
    background-size: 100vh;
    text-align: center;
    padding: 20px;
    color: blanchedalmond;
}
.class {
    font-size: xx-large;
    font-family: sans-serif;
    color: blanchedalmond;
    font-weight: bolder;

}